.checkbox-container {
    display: inline-block;
    width: 100%;
    padding: 8px 15px;
}

.checkbox-container .toggle {
    float: right;
    background-color: rgb(255, 255, 255);
}

.checkbox-container .toggle-group .btn-primary {
    background-color: rgb(8, 88, 158);
}

.checkbox-container .toggle-group .btn-primary:hover {
    opacity: 0.8;
}

.checkbox-container > label {
    padding-top: 6px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 70%;
    margin: 0;
    color: rgb(182, 0, 0);
    float: left;
}
.checkbox-container .title-checkbox {
    width: 85%;
}
.checkbox-container .info-icon {
    float: right;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    opacity: 0.4;
    top: -5px;
}

.checkbox-container .info-text {
    display: none;
    font-size: 10px;
    /*color: rgb(182, 0, 0);*/
}

.checkbox-container .info-icon:hover {
    cursor: pointer;
    opacity: 1;
}
