.tooltip-default {
    position: relative;
    background: rgba(255, 127, 0, 1.0);
    border-radius: 4px;
    color: white;
    padding: 6px 10px;
    opacity: 0.7;
    white-space: nowrap;
    font-size: 12px;
}
.tooltip-measure {
    opacity: 1;
    font-size: 14px;
}
.tooltip-static {
    background-color: rgba(255, 127, 0, 1.0);
    opacity: 1.0;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(255, 127, 0, 1.0);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top-color: rgba(255, 127, 0, 1.0);
}

.tooltip-static .measure-hint {
    display: none;
}

.tooltip-measure .measure-hint {
    font-size: 10px;
}

.table-tool-measure-delete {
    background-color: #FFFFFF;
}
