.filter .header {
    width: 100%;
    border-bottom: 1px solid rgb(229,229,229);
    padding: 10px;
}


@media (min-width: 768px) {
    .filter .simple-views-container button {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
    }
    .filter .header {
        padding: 10px;
    }
}


.filter .simple-views-container .btn-default:focus {
    outline: none;
}

.filter .tool-name {
    padding-left: 15px;
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
}
.filter .simple-views-container {
    padding: 8px 15px;
    width: 100%;
    border-bottom: 1px solid rgb(229, 229, 229);
}

/*SimpleView*/
.simple-view {
    display: inline-block;
}
.filter .simple-view .btn-default {
    margin: 4px;
}

.filter .btn-select {
    color: #fff;
    background-color: rgba(0, 0, 0,.5);
}
.filter .btn-select .name:hover {
    font-weight: normal;
}
