.schulweg-routing .header {
    width: 100%;
    border-bottom: 1px solid rgb(229,229,229);
    padding: 10px;
}

.schulweg-routing .tool-name {
    padding-left: 15px;
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
}

.schulweg-routing .content {
    padding-top: 20px;
}

.schulweg-routing #regional-school {
    cursor: pointer;
}

.schulweg-routing .content .form-group {
    margin-bottom: 25px;
}
.schulweg-routing .content .form-group > label {
    float: left;
    width: 75%;
}

.schulweg-routing .content .checkbox-container {
    /* clear: both; */
    /* margin-top: 0; */
    margin-bottom: 20px;
}

.schulweg-routing .title-checkbox > label {
    padding-left: 0;
}

.schulweg-routing .toggle {
    float: right;
}

.schulweg-routing .bootstrap-select .dropdown-menu {
    right: 0;
    left: null;
}

.schulweg-routing .hit-list {
    z-index: 3;
    padding-left: 15px;
}

.schulweg-routing .hit-list li:first-child {
    border-top: 0;
}

.schulweg-routing .hit-list li:hover {
    cursor: pointer;
    background-color: #e3e3e3;
}

.description ol {
    padding-left: 15px;
}

.description li {
    padding-bottom: 5px;
}

.schulweg-routing .description button {
    margin: 20px 0;
}
.schulweg-routing .result {
    background-color: rgb(229, 229, 229);
}

.schulweg-routing .result p:first-child{
    padding-top: 20px;
}

.schulweg-routing .result p:last-child{
    padding-bottom: 20px;
}

.schulweg-routing .route-container span {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    font-size: 15px;
}

@media (max-width: 767px) {
    .schulweg-routing ol, .schulweg-routing label {
        font-size: 14px;
    }
}
