.compare-feature-modal {
    /*
        bootstrap modal default is 1050, bootstrap tooltip default is 1070
        so that it is above others, for example gfi
    */
    z-index: 1080;
    font-size: 14px;
}

.compare-feature-modal label {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    padding-top: 7px;
}

.compare-feature-modal .modal-title {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
}

.compare-feature-modal .modal-lg .modal-body {
    overflow: auto;
    max-height: calc(100vh - 200px);
}
.compare-feature-modal .modal-lg {
    width: 95%
}

.compare-feature-modal .modal-error {
    width: 450px;
}

.compare-feature-modal .modal-error .glyphicon {
    font-size: 22px;
}

.compare-feature-modal .modal-error p {
    line-height: 22px;
}

.compare-feature-modal .modal-error p:first-child {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    font-size: 14px;
}

.compare-feature-modal .modal-sub-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.compare-feature-modal .modal-lg .modal-footer {
    text-align: center;
}

.compare-feature-modal .toggle-row {
    display: none;
}

.compare-feature-modal .btn {
    background-color: rgb(0, 92, 169);
}

.compare-feature-modal .btn:hover {
    opacity: 0.9;
}

.compare-feature-modal .glyphicon-star {
    color: #fec44f;
}

.compare-feature-modal table .glyphicon-remove {
    opacity: 0.3;
}

.compare-feature-modal table .glyphicon-remove:hover {
    cursor: pointer;
    opacity: 1;
}

.compare-feature-modal table > tbody > tr:nth-child(odd) {
   background-color: #eee;
}
.compare-feature-modal table > tbody > tr:nth-child(even) {
   background-color: #ddd;
}
.compare-feature-modal table > tbody > tr:hover {
   background-color: #ccc;
}
.compare-feature-modal table > tbody > tr:hover > td {
   border-left: 1px solid #bbb;
}
.compare-feature-modal tr:first-child td {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    font-size: 16px;
    border-top: 0;
}
.compare-feature-modal tr:first-child .col-1:first-child {
    color: transparent;
    border: none;
}

.compare-feature-modal .col-1 {
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    width: 20%;
}
.compare-feature-modal .table {
    table-layout: fixed;
    width: 100%;
    overflow:hidden;
    word-wrap: break-word;
}
.compare-feature-modal td,
.compare-feature-modal thead th {
    border-left: 1px solid #ccc;
}
