#searchInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    font-size: 14px;
    opacity: 1; /* Firefox */
}

#searchInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: "UniversNextW04-620CondB","Arial Narrow",Arial,sans-serif;
    font-size: 14px;
}

@media (max-width: 767px) {
    #searchbar {
        margin-top: 8px;
        margin-bottom: 8px;
        border: 0;
        padding: 0;
        margin-left: 15px;
    }
    #searchForm {
        border: 0;
        margin: 0;
        padding: 0;
    }
    #searchInput {
        min-width: 200px;
    }
    #searchInputUL {
        min-width: 200px;
    }
    #searchInput + span {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    #searchbar {
        float: right;
        padding-left: 10px;
        padding-right: 10px;
    }
    #searchInput {
        max-width: 350px;
    }
    #searchInputUL {
        min-width: 300px;
    }
}

#searchInputLi {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#searchForm > .input-group {
    width: 100%;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

#autoCompleteBody {
    border-top: 0 none;
    display: none;
    position: relative;
    overflow: visible;
    width: 100%;
}

.btn-deleteSearch {
    border-left-width: 0;
    border-right-width: 1px;
    color: #cdcdcd;
    border-color: rgb(204, 204, 204);
}

.btn-deleteSearch:hover {
    background-color: #ffffff;
}

#searchInput {
    box-shadow: none;
    font-size: 12px;
    padding-right: 32.5px;
}

#searchInput::-ms-clear {
    display: none;
}

#searchInput + span {
    right: 38px;
    z-index: 3;
    color: rgb( 119, 119, 119);
    display: none;
    pointer-events: all;
    cursor: pointer;
}

.dropdown-menu-search {
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: left;
    font-size: 13px;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 200px;
    position: absolute;
    top: 100%;
    z-index: 1001;
    padding: 0;
}

.dropdown-menu-search .glyphicon {
    color: #cdcdcd;
    padding-right: 12px;
    padding-left: 3px;
    font-size: 12px;
}

.dropdown-menu-search img {
    width: 30px;
    padding-right: 10px;
    margin-bottom: 4px;
}

.dropdown-menu-search small {
    color: #cdcdcd;
    padding-left: 10px;
}

.dropdown-menu-search li.type {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.dropdown-menu-search li:hover {
    cursor: pointer;
    background-color: #efefef;
}

.btn-search > .glyphicon-search {
    font-size: 12px;
}

.btn-search {
    background: -moz-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , #fff , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    /*border-left: 0;*/
}

.btn-search:hover {
    background: rgb(255, 255, 255);
    border-color: rgb(204, 204, 204);
}

.btn-deleteSearch > .glyphicon-remove {
    font-size: 12px;
}

.btn-search-question {
    border: 0;
    background: 0;
    padding: 0;
    /*padding-left: 10px;*/
    margin-top: 3px;
    /*display: none;*/
    opacity: 1;
}

.btn-search-question > span {
    font-size: 14px;
    color: rgb(82, 82, 82);
    opacity: 0.6;
}

.btn-search-question > span:hover {
    opacity: 1;
}

.results {
    background-color: #d42132;
    font-size: 12px;
    text-align: right;
    padding: 6px;
    border-top-width: 2px;
    color: #fff;
    opacity: 0.6;
}

li.results:hover {
    opacity: 1;
    background-color: #d42132;
}

.results > div > .glyphicon {
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
}

#searchInputUL .selected {

    background: rgb(8, 88, 158);
    color: #fff;
}
#searchInputUL .selected #searchInputLi {
    color: #fff;
}

/*----------------------------------Table Template------------------------------------------------------------*/

#table-searchForm button.btn.btn-default.btn-table-search {
    border-radius: 12px !important;
    border-color: white;
    height: 40px;
    width: 40px;
    padding: 6px 12px 1px 5px;
    margin: 0px 5px 5px 5px;
}

#table-searchForm .btn-table-search > .icon-search {
    font-size: 24px;
}

#table-searchForm > .input-group {
    width: 100%;
    font-family: "UniversNextW01-Regular","Arial Narrow",Arial,sans-serif;
}

#table-searchForm .dropdown-menu-search {
    background-clip: padding-box;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    float: left;
    font-size: 13px;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 200px;
    position: absolute;
    bottom: 100%;
    z-index: 1001;
    padding: 0;
    top: auto;
}

#table-searchForm #searchInput {
    margin: 1px 0px 7px 78px;
    height: 40px;
    border-radius: 12px !important;
}

#table-searchForm .dropdown-menu-search .glyphicon {
    color: #cdcdcd;
    padding-right: 12px;
    padding-left: 3px;
    font-size: 12px;
}

#table-searchForm .dropdown-menu-search img {
    width: 30px;
    padding-right: 10px;
    margin-bottom: 4px;
}

#table-searchForm .dropdown-menu-search small {
    color: #cdcdcd;
    padding-left: 10px;
}

#table-searchForm .dropdown-menu-search li.type {
    background: #e7e7e7;
    background: -moz-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -ms-linear-gradient(top , white , #f3f3f3) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#table-searchForm .dropdown-menu-search li:hover {
    cursor: pointer;
    background-color: #efefef;
}

#table-searchForm .btn-table-search:hover {
    background-color: rgb(169,169,169);
}

#table-nav #searchbar {
    position: relative;
    top: -9px;
    left: 12px;
}

#table-searchForm input#searchInput.form-control {
    font-family: "HamburgSans-Regular", sans-serif;
    font-size: 22px;
}

input#searchInput.form-control:focus {
    border-color: #003063;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

#table-searchForm input#searchInput::placeholder {
    font-family: "HamburgSans-Regular", sans-serif;
    font-size: 22px;
    opacity: 0.7;
}

#table-searchForm input#searchInput:-ms-input-placeholder {
    font-family: "HamburgSans-Regular", sans-serif;
    font-size: 22px;
    opacity: 0.7;
}